@charset "utf-8";



h2 {font-size: 4rem; font-family: var(--sub-font); color: var(--main-color);}
@media (max-width: 1200px) {
  h2 {font-size: 3.5rem;}
}
@media (max-width: 768px) {
  h2 {font-size: 2rem;}
}


/* SECTION 1 - BANNER */
.banner {background: var(--base-color);}
.banner .banner_list {position: relative;}
.banner .banner_list .swiper-slide {width: 100%; height:42vw;}
.banner .banner_list .swiper-slide .banner_img {width: 100%; height: 100vh; overflow: hidden;}
.banner .banner_list .swiper-slide .banner_img img {display: block; width: 100%; height: 100%;object-fit: cover;}

.banner .banner_list .banner_txt {position: absolute; top: 15vw; left: 7.8vw; width: 60vw; height: 26vw; color: #fff; z-index: 1; font-family: var(--base-font); text-shadow: 5px 5px 20px #997C70;}
.banner .banner_txt p {font-size: 5rem; font-family: var(--base-font); color: var(--sub-color); animation: txt_p 5s infinite;}
.banner .banner_txt h3 {font-size: 7rem; font-weight: 400; line-height: 1.3; padding-bottom: 20px; animation: txt_h3 5s infinite;}
.banner .banner_txt span {display: block; font-size: 3rem; font-style: italic; font-family: var(--sub-font); animation: txt_span 5s infinite;}
@keyframes txt_h3 {
  0% { transform: translate(0,50px); opacity: 0; }
  20%,80% { transform: translate(0,0); opacity: 1; }
  100% { transform: translate(0,0); opacity: 0; }
}
@keyframes txt_p {
  0%,10% { transform: translate(0,50px); opacity: 0; }
  30%,80% { transform: translate(0,0); opacity: 1; }
  100% { transform: translate(0,0); opacity: 0; }
}
@keyframes txt_span {
  0% {transform: translate(0, 100px); opacity: 0;}
  30%, 60% {transform: translate(0, 0); opacity: 1;}
  100% {transform: translate(0, 100px); opacity: 0;}
}




/* 3 - control - phần nút bấm slide trước sau ở giữa màn hình  */
.banner .control {position: absolute; left: 50%; bottom: 50px; transform: translateX(-50%); z-index: 2; display: flex; gap: 20px;}
.banner .swiper-button-prev {position: static; width: 120px; height: 20px; background: url(../images/main/prev_w.png); margin: 0; animation: prev 5s infinite;}
.banner .swiper-button-next {position: static; width: 120px; height: 20px; background: url(../images/main/next_w.png); margin: 0; animation: next 5s infinite;}
.banner .pause {width: 20px; height: 20px; background: url(../images/main/btn_pause.png); font-size: 0; cursor: pointer;}
.banner .play {width: 20px; height: 20px; background: url(../images/main/btn_play.png); font-size: 0; cursor: pointer; display: none;}
.banner .swiper-button-prev::after {display: none;} /* làm mất dấu next - prev màu xanh dương có sẵn */
.banner .swiper-button-next::after {display: none;}


@keyframes prev {
  0% { transform: translate(0,0) scale(0.7); opacity: 0.5; }
  30%,70% { transform: translate(-80px,0) scale(1); opacity: 1; }
  100% { transform: translate(0,0) scale(0.7); opacity: 0.5; }
}
@keyframes next {
  0% { transform: translate(0,0) scale(0.7); opacity: 0.5; }
  30%,70% { transform: translate(80px,0) scale(1); opacity: 1; }
  100% { transform: translate(0,0) scale(0.7); opacity: 0.5; }
}


/* 5 - khi giảm màn hình */
@media (max-width: 1400px) {
  .banner .banner_txt p {font-size: 4rem;}
  .banner .banner_txt h3 {font-size: 6rem;}
  .banner .banner_txt span {font-size: 2.5rem;}
}
@media (max-width: 1200px) {
  .banner .banner_list .swiper-slide {height: 800px;}
  .banner .banner_list .swiper-slide .banner_img img {height: 800px;}
  .banner .banner_txt p {font-size: 3.5rem;}
  .banner .banner_txt h3 {font-size: 5rem; padding-bottom: 10px;}
  .banner .banner_list .banner_txt {top: 250px;}
}
@media (max-width: 768px) {
  .banner .banner_list .banner_txt {top: 150px; width: 500px; left: 40px;}
  .banner .banner_list .swiper-slide {height: 500px;}
  .banner .banner_list .swiper-slide .banner_img img {height: 500px;}
  .banner .banner_txt p {font-size: 3rem;}
  .banner .banner_txt h3 {font-size: 4rem;}
  .banner .banner_txt span {font-size: 2rem;}
  .banner .control {opacity: 0.5; bottom: 40px;}
  .banner .swiper-button-prev {animation: none; transform: scale(0.5);}
  .banner .swiper-button-next {animation: none; transform: scale(0.5)}

}


/* SECTION 2 */
@keyframes move1 {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes move2 {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}
.move {padding: 20px 0; background: var(--base-color); overflow: hidden;}
.move div {display: flex; width: 200%; animation-timing-function: linear;}
.move div img {height: 100%; width: auto;}
.move1 {animation: move1 30s infinite;}
.move2 {animation: move2 30s infinite;}

@media (max-width: 768px) {
  .move {padding: 10px 0;}
  .move div img {width: 120%;}
  .move1 {animation: move1 10s infinite;}
  .move2 {animation: move2 10s infinite;}
}



/* SECTION 3 */
.info {padding: 80px 0 100px; background: var(--base-color); }
.info .info_box {display: flex; justify-content: center; gap: 100px;}
.info .info_box li {width: 440px; height: 600px; background: #fff url(../images/main/box_bg.png) no-repeat 10px -10px / cover; border-radius: 30px; box-shadow: 7px 7px 0 var(--main-color); overflow: hidden; position: relative; transition: all 0.5s;}
.info .info_box li > h2 {background: var(--sub-color); text-align: center; padding: 20px 0; border-bottom: 1px solid var(--main-color);}
.info .info_box li > dl {padding: 20px 30px 0 20px;}
.info .info_box li > dl dt {font-weight: 700; font-size: 1.8rem;}
.info .info_box li > dl dd {padding-left: 25px;}
/* thêm chấm trước các dl dt */
.info .info_box li > dl dt::before {content: ""; display: inline-block; width: 7px;height: 7px; background-color: #4D4D4D; transform: rotate(45deg); margin-right: 10px;}
/* nút more */
.info .info_box li .btn_more {width: 100%; height: 100%; background: rgba(64,18,5,0.5); top: 0; left: 0; text-align: center; position: absolute; display: flex; align-items: center; justify-content: center; opacity: 0; transition: all 0.5s ease;}
.info .info_box li .btn_more span {display: inline-block; background: var(--main-color); color: #fff; padding: 20px 40px; border-radius: 100px; font-weight: 700;}

.info .info_box li:hover .btn_more {opacity: 1;}
.info .info_box li:hover {transform: translateX(10px); border-radius: 0;}

/* box đăng ký  */
.box3 {position: relative;}
.box3 .register {background: #997C70; color: #fff; position: absolute; bottom: 0; left: 0; width: 100%; height: 40%; display: flex; justify-content: flex-start; align-items: center; text-align: center;}
.box3 .register .box_icon {width: 40%; height: 100%; border-right: 1px solid rgba(255,255,255,0.5); padding: 50px 20px;}
.box3 .register .box_icon img {display: block; width: 100%;}
.box3 .register .register_txt {width: 60%; height: 100%; display: flex; flex-direction: column;}
.box3 .register .register_txt a {display: block; font-size: 4rem; font-family: var(--sub-font); padding: 30px 0; transition: all 0.5s;}
.box3 .register .register_txt a:first-child {border-bottom: #fff 1px solid;}
.box3 .register .register_txt a:hover {border-radius: 50px; background: var(--main-color); border: 1px solid #fff; transform: scale(0.8);}
.box3 dl:nth-of-type(1) dd {color: red; text-decoration: underline; text-underline-offset: 7px;}


@media (max-width: 1300px) {
  .info .info_box {gap: 80px;}
}
@media (max-width: 1300px) {
  .info {padding: 50px 0 70px;}
  .info .info_box {gap: 70px;}
}
@media (max-width: 1200px) {
  .info {padding: 40px 0 60px;}
  .info .info_box {gap: 60px;}
}
@media (max-width: 1080px) {
  .info .info_box {flex-wrap: wrap;}
  .info .info_box {gap: 30px;}
  .info .info_box li { box-shadow: 4px 4px 0 var(--main-color);}
  .info .info_box li > h2 {padding: 10px 0;}
  .info .info_box li > dl {padding: 10px 20px 10 20px;}
  .info .info_box li > dl dd {padding-left: 15px;}
}
@media (max-width: 768px) {
  .info {padding: 30px 0 120px;}
  .info .info_box li > dl dt {font-size: 1.6rem;}
  .info .info_box li > dl dd {font-size: 1.5rem;}
  .info .info_box li {width: 350px; height: 440px; background: #fff url(../images/main/box_bg.png) no-repeat 20px -55px / cover;}

  .box3 .register {height: 50%;}
  .box3 .register .box_icon {padding: 50px 10px;}
  .box3 .register .register_txt a {font-size: 3rem; padding: 30px 0;}
}




/* SECTION 4 */
.timeline {padding: 100px 0 300px; background: var(--base-color); position: relative;}
.timeline .content {display: flex; justify-content: center;}
.timeline .content > div {width: 700px; height: 800px; transform: scale(75%); border-radius: 30px; border: 1px solid var(--main-color); padding: 0 15px 15px 15px; overflow: hidden;}
.timeline .content .content_left .ctvideo video {width: 100%; height: 100%; object-fit: cover; border-radius: 30px; filter: brightness(0.5);}
.timeline .content .content_left .ctvideo {position: relative; border-radius: 30px; overflow: hidden; object-fit: cover; height: 785px;}
.timeline .content .content_left h3 {position: absolute; top: 0; left: 50%; transform: translateX(-50%); background: #997C70; color: #fff; text-align: center; padding: 20px; font-family: var(--base-font); font-size: 3.5rem; border-radius: 30px 30px 0 0; object-fit: cover; width: 100%;}
.timeline .content .content_right img {width: 100%; height: 100%; border-radius: 30px;}

/* group1 */
@keyframes handup {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}
.group1 {position: relative; top: -110px; left: -100px;}
.group1 .img1 {position: absolute; top: 7px; left: 260px;}
.group1 .img2 {position: absolute; top: 180px; left: 367px; animation: handup 2s infinite ease-in-out;
  transform-origin: 100% 50%; /* Cổ tay làm tâm xoay */}

.group1 .img3 {position: absolute; top: 0; left: 390px;}
.group1 .img4 {position: absolute; top: 125px; left: 493px; animation: handup 3s infinite ease-in-out;transform-origin: 100% 70%;}
.group1 .img5 {position: absolute; top: 0; left: 520px;}

.vapour {position: absolute; top: 115px; left: 605px; display: flex; padding: 0 5px;}
.vapour span {position: relative; display: block; margin: 0 1px 1px; min-width: 5px; height: 30px; background: #fff; border-radius: 50%; animation: fly 5s linear infinite; opacity: 0; filter: blur(5px); animation-delay: calc(var(--i)*-0.5s);}

@keyframes fly {
0% {
transform: translateY(0) scaleX(1);
opacity: 0;}
15% {
opacity: 1;
}
50%
{
transform: translateY(-20px) scaleX(2);
}
95% {
  opacity: 0.5;
}
100% {
  transform: translateY(-40px) scaleX(4);
}
}
.group1 .img6 {position: absolute; top: -37px; left: 1100px; z-index: 99 !important;}
.group1 .img7 {position: absolute; top: 80px; left: 1116px; z-index: 100 !important; animation: handup 2s infinite ease-in-out; transform-origin: 50% 100%;}

@media (max-width: 1504px) {
.group1 {top: -116px; left: -160px;}
.timeline .content > div {width: 650px; height: 750px; transform: scale(75%);}
.timeline .content .content_left .ctvideo {height: 730px;}
.timeline .content .content_left h3 {font-size: 3rem;}
}
@media (max-width: 1367px) {
  .group1 {top: -123px; left: -180px;}
  .timeline .content > div {width: 600px; height: 700px; transform: scale(75%);}
.timeline .content .content_left .ctvideo {height: 680px;}
.group1 .img6 {left: 900px; }
.group1 .img7 {left: 913px; }
}
@media (max-width: 1318px) {
  .group1 {top: -129px; left: -210px;}
  .timeline .content > div {width: 600px; height: 650px;}
.timeline .content .content_left .ctvideo {height: 640px;}
}

@media (max-width: 1260px) {
  .group1 {top: -135px; left: -220px;}
  .group1 .img5 {display: none;}
  .group1 .img6 {display: none;}
  .group1 .img7 {display: none;}

}
@media (max-width: 1080px) {
  .timeline .content {flex-wrap: wrap;}
  .group1 {top: -215px; left: -155px;}
  .group1 .img5 {display: block;}
  .group1 .img6 {display: block; left: 720px; top: -9px; transform: scale(0.8);}
  .group1 .img7 {display: block; left: 750px; top: 90px; animation: handup2 2s infinite ease-in-out; transform-origin: 50% 100%;}
  @keyframes handup2 {
    0%, 100% {
      transform: scale(0.8) translateY(0);
    }
    50% {
      transform: scale(0.8) translateY(-10px);
    }
  }

  .timeline {padding: 100px 0 300px;}
  .timeline .content {display: flex; gap: 20px; flex-direction: column;}
.timeline .content > div {width: 100%; height: 100%; transform: scale(1); border-radius: 30px; border: 1px solid var(--main-color); padding: 0 15px 15px 15px; overflow: hidden; margin: 0 auto;}

.timeline .content .content_left .ctvideo {position: relative; border-radius: 30px; overflow: hidden; object-fit: cover; height: 500px;}
.timeline .content .content_left h3 {padding: 10px; font-size: 2rem;}
.timeline .content .content_right img {width: 100%; height: 100%;}
}

@media (max-width: 880px) {
  .group1 {top: -215px; left: -310px;}
}
@media (max-width: 768px) {
  .group1 .img6 {display: none;}
  .group1 .img7 {display: none;}
  .group1 .img3 {display: none;}
  .group1 .img4 {display: none;}
  .group1 .img5 {top: 0; left: 420px;}
  .vapour {top: 120px; left: 500px;}
}

/* group2 */
.group2 {position: absolute; bottom: 30px; left: 6.25vw;}
.group2 .map {position: absolute; bottom: 10px; left: 15.625vw; width: 26.05vw;}
.group2 .map img {display: block; width: 100%;}
.group2 .girl {position: absolute; bottom: 30px; left: 2.08vw; width: 14.58vw;}
.group2 .girl img {display: block; width: 100%; animation: girlmove 3s infinite ease-in-out;}
@keyframes girlmove {
  0%, 100% {}
  50% {transform: translateX(40px);}
}

@media (max-width: 1080px) {
  .group2 .map {width: 500px; left: 18.625vw; }
  .group2 .girl {width: 250px; left: 1.08vw;}
}
@media (max-width: 768px) {
  .group2 .map {left: 15vw; width: 350px; bottom: 10px;}
  .group2 .girl {width: 200px; left: -14vw; bottom: 30px;}
}

/* group3 */
.group3 {position: absolute; bottom: 0; right: -10px; width: 41.67vw;}
.group3 video {display: block; width: 100%;}
@media (max-width: 1080px) {
  .group3 {display: none;}
}





/* SECTION 5 - EVENT */
.event {padding: 100px 0; background: var(--base-color);}
.event .inner {text-align: center;}

.event > .inner > h2 {display: inline-block; background: var(--sub-color); padding: 10px 30px; border: 1px solid var(--main-color); border-radius: 30px; margin-bottom: 70px;}

.event_list .swiper-slide {background: url(../images/main/event_bg.png) no-repeat center center / cover; text-align: right; display: flex; flex-direction: column; justify-content: center; color: #975c46; border-radius: 30px;}
.event_list .swiper-slide .event_img {width: 100%; margin-top: 50px; margin-bottom: 60px;}
.event_list .swiper-slide .event_img img {display: block; width: 70%; animation: event 10s infinite linear; margin: 0 auto; }
@keyframes event {
  0% {transform: scale(70%);}
  25% {transform: translateY(20px);}
  50% {transform: scale(75%);}
  75% {transform: translateY(-20px);}
  100% {transform: scale(70%);}
}

.event_list .swiper-slide .event_txt {width: 100%;}
.event_list .swiper-slide .event_txt h4 {font-size: 3rem; font-family: var(--sub-font); padding-right: 20px; transition: all 0.5s;}
.event_list .swiper-slide .event_txt h4:hover {letter-spacing: 1.5px;}
.event_list .swiper-slide .event_txt span {display: inline-block; background: #ffead9; padding: 0 20px; font-size: 3.5rem; font-family: var(--sub-font); transition: all 0.5s;}
.event_list .swiper-slide .event_txt span:hover {padding: 0 40px;}
.event_list .swiper-slide .event_txt p {padding: 20px; transition: all 0.5s; height: 120px;}
.event_list .swiper-slide .event_txt > .btn_more {display: inline-block; background: #ffead9; padding: 5px 25px; border-radius: 30px; margin: 20px 20px 70px 0; transition: all 0.5s;}
.event_list .swiper-slide .event_txt > .btn_more:hover {color: #ffead9; background: #975c46;}

@media (max-width: 1200px) {
  .event > .inner > h2 {margin-bottom: 50px;}
  .event_list .swiper-slide .event_img {margin-bottom: 100px;}
  .event_list .swiper-slide .event_txt {height: 400px;}
  .event_list .swiper-slide .event_txt h4 {font-size: 2.5rem;}
  .event_list .swiper-slide .event_txt span {font-size: 3rem;}
  .event_list .swiper-slide .event_txt p br {display: none;}
}

@media (max-width: 768px) {
  .event {padding: 50px 0;}
  .event > .inner > h2 {margin-bottom: 30px;}
  .event_list .swiper-slide .event_img {margin-bottom: 100px;}
  .event_list .swiper-slide .event_img img {width: 60%;}
  .event_list .swiper-slide .event_txt {height: 300px;}
  .event_list .swiper-slide .event_txt h4 {font-size: 2rem;}
  .event_list .swiper-slide .event_txt span {font-size: 2.5rem;}
  .event_list .swiper-slide .event_txt p br {padding-left: 20px;}
  .event_list .swiper-slide .event_txt > .btn_more {margin: 10px 20px 20px 0;}
}

.event .event_list .swiper-pagination {position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%); display: flex; justify-content: center;}
/* Màu của các bullet */
.event .event_list .swiper-pagination-bullet {width: 10px; height: 10px; background-color: var(--main-color); margin: 0 2px; border-radius: 50%; transition: background-color 0.3s;}
/* Màu của bullet khi active */
.event .event_list .swiper-pagination-bullet-active {background-color: var(--main-color);}






/* SECTION 6 */
.community {padding: 100px 0; background: var(--base-color); position: relative;}
.community .inner {text-align: center;}
.community .inner .coffeebag {position: absolute; top: 60px; left: 20px; width: 114px; height: 100px; animation: do 4s infinite ease-in-out; }
.community .inner .coffee1 {position: absolute; top: 55px; left: 130px; width: 60px; height: 40px; animation: turn1 5s infinite linear; animation-delay: -1;}
.community .inner .coffee2 {position: absolute; top: 60px; left: 115px; width: 60px; height: 60px; animation: turn2 7s infinite linear; animation-delay: -4;}
.community .inner .coffee3 {position: absolute; top: 40px; left: 100px; width: 60px; height: 60px; animation: turn3 6s infinite linear; animation-delay: -6;}
.community .inner .coffee4 {position: absolute; top: 45px; left: 130px; width: 60px; height: 60px; animation: turn2 8s infinite linear; animation-delay: -2;}
.community .inner .coffee5 {position: absolute; top: 70px; left: 115px; width: 60px; height: 60px; animation: turn1 9s infinite linear; animation-delay: -5;}
.community .inner .coffee6 {position: absolute; top: 75px; left: 100px; width: 60px; height: 60px; animation: turn3 10s infinite linear; animation-delay: -3;}

@keyframes do {
  0% {transform: rotate(0);}
  25% {transform: translate(0px, 30px) rotate(20deg);}
  50% {transform: translate(50px, 40px) rotate(35deg);}
  75% {transform: translate(40px, 30px) rotate(-5deg);}
  100% {transform: rotate(0);}
}

@keyframes turn1 {
  0% {}
  10% {transform: translate(150px, 60px) rotate(360deg);}
  20% {transform: translate(200px, 90px) rotate(720deg);}
  30% {transform: translate(300px, 110px) rotate(1080deg);}
  40% {transform: translate(400px, 120px) rotate(1440deg);}
  50% {transform: translate(500px, 120px) rotate(1800deg); }
  60% {transform: translate(600px, 130px) rotate(2160deg) scale(0.9);}
  70% {transform: translate(700px, 140px) rotate(2520deg) scale(0.8);}
  80% {transform: translate(800px, 150px) rotate(2880deg) scale(0.7); opacity: 1;}
  90% {transform: translate(900px, 160px) rotate(3240deg) scale(0.5); opacity: 0;}
  100% {opacity: 0;}
}

@keyframes turn2 {
  0% {}
  10% {transform: translate(150px, 70px) rotate(360deg);}
  20% {transform: translate(200px, 60px) rotate(720deg);}
  30% {transform: translate(300px, 70px) rotate(1080deg);}
  40% {transform: translate(400px, 90px) rotate(1440deg);}
  50% {transform: translate(500px, 100px) rotate(1800deg); }
  60% {transform: translate(600px, 100px) rotate(2160deg) scale(0.9);}
  70% {transform: translate(700px, 100px) rotate(2520deg) scale(0.8);}
  80% {transform: translate(800px, 120px) rotate(2880deg) scale(0.7); opacity: 1;}
  90% {transform: translate(900px, 140px) rotate(3240deg) scale(0.5); opacity: 0;}
  100% {opacity: 0;}
}

@keyframes turn3 {
  0% {}
  10% {transform: translate(180px, 90px) rotate(360deg);}
  20% {transform: translate(200px, 120px) rotate(720deg);}
  30% {transform: translate(300px, 130px) rotate(1080deg);}
  40% {transform: translate(500px, 140px) rotate(1440deg);}
  50% {transform: translate(600px, 100px) rotate(1800deg); }
  60% {transform: translate(700px, 100px) rotate(2160deg) scale(0.9);}
  70% {transform: translate(700px, 120px) rotate(2520deg) scale(0.8);}
  80% {transform: translate(800px, 140px) rotate(2880deg) scale(0.7); opacity: 1;}
  90% {transform: translate(900px, 160px) rotate(3240deg) scale(0.5); opacity: 0;}
  100% {opacity: 0;}
}


.community > .inner > h2 {display: inline-block; background: var(--sub-color); padding: 10px 30px; border: 1px solid var(--main-color); border-radius: 30px; margin-bottom: 70px;}

.community .community_content {display: flex; justify-content: space-between;}
.community .community_left {width: 70%; display: flex; flex-direction: column; justify-content: space-between; border-radius: 30px; border: 1px solid var(--main-color); padding: 40px;}



.community .community_right {width: 25%; padding: 40px; border-radius: 30px; border: 1px solid var(--main-color); display: flex; flex-direction: column; justify-content: center;}

.community .community_left > div {display: flex; justify-content: space-between; text-align: left; align-items: center; height: 48%;}
.community .community_content .community_left img {display: block; width: 100%; border-radius: 30px; border: #eee 10px solid; transition: all 0.5s;}
.community .community_content .community_left img:hover {transform: scale(1.05);}
.community .community_left > .btn_more {width: 100%; justify-content: center;}
.community .community_left > .btn_more a {display: inline-block; background: var(--sub-color); padding: 10px 30px; border-radius: 30px; transition: all 0.5s;}
.community .community_left > .btn_more a:hover {transform: scale(1.1); font-weight: 700;}

.community .community_left > div h4 {font-size: 3rem; color: rgba(0,0,0,0.3); text-shadow: 5px 5px 0 #eee; font-family: var(--sub-font); padding-bottom: 20px; transition: all 0.5s;}
.community .community_left > div h4:hover {letter-spacing: 3px;}
.community .community_left > div p {font-size: 1.8rem; padding-bottom: 10px; padding-left: 30px; position: relative;}
.community .community_left > div p::before {content: ""; position: absolute; width: 20px; height: 20px; top: 0; left: 0; background: url(../images/main/dot.png) no-repeat center center;}

.community .community_left .community_up .community_img1 {width: 30%;}
.community .community_left .community_up .community_txt1 {width: 65%;}
.community .community_left .community_down {padding-top: 30px;}
.community .community_left .community_down .community_img2 {width: 40%;}
.community .community_left .community_down .community_txt2 {width: 55%;}

.community .community_right > h4 {font-size: 3rem; color: rgba(0,0,0,0.3); text-shadow: 5px 5px 0 #eee; font-family: var(--sub-font);transition: all 0.5s;}
.community .community_right > h4:hover {letter-spacing: 3px;}

.community .community_right .community_righttxt {display: flex; flex-direction: column; gap: 20px; margin: 0 auto; padding-top: 20px;}
.community .community_right .community_txt {position: relative; width: 100%; border-radius: 20px; overflow: hidden;}
.community .community_right .community_txt img {display: block; width: 100%; overflow: hidden; transition: all 0.5s;}
.community .community_right .community_txt img:hover {transform: scale(1.1);}
.community .community_right .community_txt h5 {position: absolute; top: 50%; transform: translateY(-50%); width: 100%; padding: 20px 0; background: rgba(255,255,255,0.7); font-size: 2.5rem; color: rgba(0,0,0,0.3);}




.community .community_left .community_up {position: relative;}
.community .community_left .community_up .coffeecup {position: absolute; top: 50px; right: 50px; width: 90px; height: 120px; background: url(../images/main/coffeecup.png); font-size: 0; animation: move5 4s infinite linear;}
.community .community_left .community_up .coffeeseed {position: absolute; top: 200px; right: 150px; width: 110px; height: 61px; background: url(../images/main/cfseed.png); font-size: 0; animation: move6 4s infinite linear;}


@keyframes move5 {
  0% {transform: translate(-40px, -10px) rotate(0);}
  25% {transform: translate(40px, -10px) rotate(-20deg);}
  50% {transform: translate(40px, 10px) rotate(-10deg);}
  75% {transform: translate(-40px, 10px);}
  100% {transform: translate(-40px, -10px);}
}

@keyframes move6 {
  0% {}
  25% {transform: translate(20px, 0);}
  50% {transform: translate(40px, 0);}
  75% {transform: translate(20px, 0);}
  100% {}
}





@media (max-width: 1200px) {
  .community > .inner > h2 {margin-bottom: 50px;}
  .community .community_content {flex-wrap: wrap; gap: 50px;}
  .community .community_left {width: 100%;}
  .community .community_right {width: 100%; flex-wrap: wrap;}
  .community .community_right .community_righttxt {display: flex; justify-content: center; flex-direction: row; gap: 50px;}
  .community .community_right .community_righttxt div {width: 300px;}
  .community .community_left > div p {font-size: 1.6rem;}
  .community .community_right .community_righttxt div img {height: 100%;}
}

@media (max-width: 768px) {
  .community {padding: 70px 0 50px;}
  .community > .inner > h2 {margin-bottom: 30px;}

  .community .community_right .community_righttxt {flex-direction: column; gap: 20px; margin: 0 auto;}
  .community .community_content {flex-wrap: wrap; flex-direction: column; padding: 10px;}
  .community .community_left .community_up {flex-wrap: wrap; flex-direction: column; margin: 0 auto; height: 100%; width: 100%; gap: 20px;}
  .community .community_left .community_up .community_img1 {height: 70%; width: 300px;}
  .community .community_left .community_up .community_txt1 {height: 30%; width: 100%;}
  .community .community_left .community_up div img {width: 100%; height: 100%;}
  .community .community_left .community_down {display: flex; flex-wrap: wrap-reverse; justify-content: center; margin: 0 auto; height: 100%; width: 100%; gap: 20px;}
  .community .community_left .community_down .community_img2 {width: 400px;}
  .community .community_left .community_down .community_txt2 {width: 100%;}
  .community .community_left .community_down div img {width: 100%; height: 100%;}
  .community .community_left .btn_more {margin: 10px; font-size: 1.4rem;}

  .community .community_left > div h4 {font-size: 2rem;}
  .community .community_left > div p {font-size: 1.5rem;}
  .community .community_right > h4 {font-size: 2rem;}
  .community .community_right .community_txt h5 {font-size: 1.8rem; padding: 10px 0;}

  .community .community_left .community_up .coffeecup {display: none;}
  .community .community_left .community_up .coffeeseed {display: none;}


  .community .inner .coffeebag {top: 0; left: 5px; animation: do 5s infinite ease-in-out; }
.community .inner .coffee1 {position: absolute; top: 5px; left: 130px; animation: turn1 3s infinite linear; animation-delay: -2;}
.community .inner .coffee2 {position: absolute; top: 10px; left: 115px; animation: turn2 5s infinite linear; animation-delay: -4;}
.community .inner .coffee3 {position: absolute; top: 15px; left: 100px; animation: turn3 4s infinite linear; animation-delay: -5;}
.community .inner .coffee4 {position: absolute; top: 25px; left: 130px; animation: turn2 7s infinite linear; animation-delay: -1;}
.community .inner .coffee5 {position: absolute; top: 5px; left: 115px; animation: turn1 8s infinite linear; animation-delay: -5;}
.community .inner .coffee6 {position: absolute; top: 10px; left: 100px; animation: turn3 6s infinite linear; animation-delay: -3;}

@keyframes do {
  0% {transform: rotate(0);}
  25% {transform: translate(0, 10px) rotate(20deg);}
  50% {transform: translate(20px, 20px) rotate(35deg);}
  75% {transform: translate(10px, 10px) rotate(-5deg);}
  100% {transform: rotate(0);}
}

@keyframes turn1 {
  0% {transform: scale(0.4);}
  10% {transform: translate(10px, -30px) rotate(360deg) scale(0.5);}
  20% {transform: translate(20px, -20px) rotate(720deg) scale(0.5);}
  30% {transform: translate(30px, -10px) rotate(1080deg) scale(0.5);}
  40% {transform: translate(70px, 0) rotate(1440deg) scale(0.5);}
  50% {transform: translate(100px, 0) rotate(1800deg) scale(0.5); }
  60% {transform: translate(150px, 0) rotate(2160deg) scale(0.4);}
  70% {transform: translate(190px, 0) rotate(2520deg) scale(0.4);}
  80% {transform: translate(290px, 50px) rotate(2880deg) scale(0.3); opacity: 1;}
  90% {transform: translate(350px, 150px) rotate(3240deg) scale(0.3); opacity: 0;}
  100% {opacity: 0;transform: scale(0.3);}
}

@keyframes turn2 {
  0% {transform: scale(0.4);}
  10% {transform: translate(30px, -40px) rotate(360deg) scale(0.5);}
  20% {transform: translate(60px, -20px) rotate(720deg) scale(0.5);}
  30% {transform: translate(80px, -10px) rotate(1080deg) scale(0.5);}
  40% {transform: translate(130px, -10px) rotate(1440deg) scale(0.5);}
  50% {transform: translate(190px, 0) rotate(1800deg) scale(0.5); }
  60% {transform: translate(230px, 0) rotate(2160deg) scale(0.5);}
  70% {transform: translate(300px, 50px) rotate(2520deg) scale(0.4);}
  80% {transform: translate(350px, 100px) rotate(2880deg) scale(0.4); opacity: 1;}
  90% {transform: translate(400px, 200px) rotate(3240deg) scale(0.3); opacity: 0;}
  100% {opacity: 0; transform: scale(0.3);}
}

@keyframes turn3 {
  0% {transform: scale(0.3);}
  10% {transform: translate(50px, -40px) rotate(360deg) scale(0.4);}
  20% {transform: translate(100px, -20px) rotate(720deg) scale(0.4);}
  30% {transform: translate(150px, -10px) rotate(1080deg) scale(0.4);}
  40% {transform: translate(200px, -10px) rotate(1440deg) scale(0.4);}
  50% {transform: translate(250px, 0) rotate(1800deg) scale(0.3); }
  60% {transform: translate(280px, 0) rotate(2160deg) scale(0.3);}
  70% {transform: translate(300px, 0) rotate(2520deg) scale(0.3);}
  80% {transform: translate(350px, 20px) rotate(2880deg) scale(0.3); opacity: 1;}
  90% {transform: translate(400px, 40px) rotate(3240deg) scale(0.3); opacity: 0;}
  100% {opacity: 0; transform: scale(0.3);}
}

}



/* SECTION 7 */
.contest {background: var(--base-color);}
.contest .contest_img {width: 100%;}
.contest .contest_img img {display: block; width: 100%;}



/* SECTION 8 */
.map {padding: 100px 0 0; background: var(--base-color);}
.map .inner {display: flex; justify-content: center; flex-wrap: wrap; gap: 100px; align-items: center;}
.map .inner h2 {display: inline-block; background: var(--sub-color); padding: 10px 30px; border: 1px solid var(--main-color); border-radius: 30px; }
.map .inner .map_link {width: 1200px; height: 400px; overflow: hidden;}
.map .inner .map_link iframe {width: 100%; height: 100%; border: none; border-radius: 30px;} 
@media (max-width: 1200px) {
  .map {padding: 80px 0 0;}
  .map .inner {gap: 50px;}
}
@media (max-width: 768px) {
  .map {padding: 50px 0 0;}
  .map .inner {gap: 30px;}
  .map .inner .map_link {height: 250px;}
}



/* SECTION 9 */
.sponsor {padding: 100px 0; background: var(--base-color); text-align: center;}
.sponsor .inner {max-width: 100%; padding: 0;}
.sponsor .inner > p {padding-top: 20px;}

.sponsor .sponsor_list {margin-top: 50px;}
.sponsor .sponsor_list img {width: 100%;}
.sponsor .sponsor_list .swiper-wrapper {transition-timing-function: linear;} /* để slide tự chạy bằng tốc độ đều nhau, làm kèm với bên js */

@media (max-width: 1024px) {
  .sponsor {padding: 70px 0;}
}
@media (max-width: 768px) {
  .sponsor {padding: 50px 0;}
  .sponsor .inner > p {padding-top: 5px; font-size: 1.4rem;}

}


.gotop {position: fixed; right: 30px; bottom: 30px;}
@media (max-width: 768px) {
  .gotop {right: 10px; bottom: 10px; opacity: 0.8; z-index: 999;}
}
