@charset "utf-8";


h2 {font-size: 3rem; font-family: var(--sub-font); background: var(--base-gradient); background-clip: text; color: transparent; font-weight: 700; text-align: center; margin-bottom: 50px;}
@media (max-width: 768px) {
h2 {font-size: 2.5rem; margin-bottom: 20px;}
}



/* SUB 1 - PLAN */
/* BANNER */
@keyframes fadein {
  0% {
    transform: translate(300%); 
  }
  100% {
    transform: translate(-350%);
  }
}
.banner .banner_photo {width: 100%; height: 100%; overflow: hidden; position: relative;}
.banner .banner_photo img {display: block; width: 100%;}
.banner .banner_photo > h2 {position: absolute; bottom: 5%; left: 50%; transform: translate(-50%,-50%); color: #fff; text-transform: uppercase; font-style: normal; font-family: var(--main-font); animation: fadein 10s infinite linear;}
@media (max-width: 768px) {
  .banner .banner_photo > h2 {font-size: 2rem; white-space: nowrap;}
}


/* SECTION 1 - BOOKING */
.booking {padding: 50px 0; text-align: center; }
.booking .inner {border-bottom: 1px solid var(--main-color); padding-bottom: 50px; }


.booking-box {max-width: 700px; margin: 0 auto; padding: 30px; background: var(--base-gradient); border-radius: 30px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); color: #fff; position: relative;}
@keyframes zoomRotate {
  0% {
    transform: scale(0) rotate(0deg); 
  }
  50% {
    transform: scale(0.5) rotate(180deg); 
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
.booking-box::after, .booking-box::before {content: ""; position: absolute; width: 100px; height: 100px; background: url(../images/sub/icon6.png); top: -4vw; left: -7vw; animation: zoomRotate 3s infinite linear;}
.booking-box::before { right: -7vw; left: unset;}
@media (max-width: 1200px) {
  .booking-box::after {top: -10vw;}
  .booking-box::before {top: -10vw;}
}
@media (max-width: 768px) {
  @keyframes zoomRotate {
    0% {
      transform: scale(0) rotate(0deg); 
    }
    50% {
      transform: scale(0.3) rotate(180deg); 
    }
    100% {
      transform: scale(0.6) rotate(360deg);
    }
  }
  .booking-box::after {top: -20vw;}
  .booking-box::before {top: -20vw;}
}

.booking-row {display: flex; flex-wrap: wrap; gap: 20px;}
.booking-field {flex: 1 1 calc(50% - 10px); display: flex; flex-direction: column;}
.booking-field label {font-size: 2rem; padding: 10px 0; text-align: left;}

.booking-field select {appearance: none; background: #fff url(../images/sub/chevron-down.png) no-repeat right 30px center;}
.booking-field select, .booking-field input {padding: 20px 30px; font-size: 1.6rem; border-radius: 40px;}
select {color: #666;}
select:focus {color: var(--main-color);}

.counter {display: flex; align-items: center; gap: 20px;}
.counter-btn {background: #fff; color: var(--main-color); border: none; border-radius: 50%; width: 30px; height: 30px; font-size: 2rem; cursor: pointer;}
.counter-btn:disabled {background: #dcccdd; cursor: not-allowed;}

input[type="date"] {font-family: var(--main-font), sans-serif; color: #666;}

.booking-submit {margin-top: 30px; width: 20%; padding: 10px; background: #fff; color: var(--main-color); border: none; font-size: 1.6rem; font-weight: 700; cursor: pointer; transition: all 0.5s;}
.booking-submit:hover {background: var(--main-color); color: #fff;}

@media (max-width: 768px) {
  .booking {padding: 30px 0;}
  .booking-box {padding: 20px; border-radius: 20px;}
  .booking-row {gap: 5px;}
  .booking-field label {font-size: 1.7rem; margin: 5px 0;}
  .booking-field select {font-size: 1.4rem; background: #fff url(../images/sub/chevron-down.png) no-repeat right 10px center;}
  input[type="date"] {font-size: 1.4rem;}
  .booking-field select, .booking-field input {padding: 10px; border-radius: 10px;}
  .booking-submit {margin-top: 20px; width: 35%; padding: 5px;}
}

/* SECTION 2 - HOTEL */
.tour-suggestions {padding: 50px 0;}
.tour-suggestions .inner {max-width: 1000px; text-align: center;}

.tour-name {display: flex; flex-direction: column; gap: 30px; overflow: hidden; padding: 15px;}

.tour-name .tours {display: flex; justify-content: center; flex-wrap: wrap; background-color: #fff; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); overflow: hidden; transition: all 0.5s; border: 1px solid var(--main-color);}
.tour-name .tours:hover {transform: translateY(-10px) scale(1.02);}

.tour-name .tours .tours_list {width: 45%;}
.tour-name .tours .tour-details {width: 50%; padding: 20px 30px; flex: 1; text-align: left;}
.tour-name .tours .tour-details h3 {color: var(--main-color); font-family: var(--sub-font); font-size: 2rem;}
.tour-name .tours .tour-details strong {display: block; padding-top: 10px;}
.tour-name .tours .tours_list ul li {width: 100%; height: 100%; object-fit: cover;}
.tour-name .tours .tours_list ul li img {display: block; width: 100%; height: 100%;}

.tour-name .tours .tours_list .swiper-pagination {position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%); display: flex; justify-content: center;}
/* Màu của các bullet */
.tour-name .tours .tours_list .swiper-pagination-bullet {width: 10px; height: 10px; background-color: #fff; margin: 0 2px; border-radius: 50%; transition: background-color 0.5s;}
/* Màu của bullet khi active */
.tour-name .tours .tours_list .swiper-pagination-bullet-active {background-color: #fff; width: 20px; border-radius: 5px;}


.tour-details h3 {font-size: 1.8rem; margin-bottom: 10px;}
.tour-details p {font-size: 1.6rem; color: #555; margin-bottom: 15px;}
.tour-info {padding: 0; margin: 0;}
.tour-info li {display: flex; align-items: center; font-size: 1.5rem; color: #333; margin-bottom: 5px;}
.tour-info li i {display: inline-block; width: 20px; height: 20px; margin-right: 10px; background-size: cover;}


.btn_more {display: inline-block; background: var(--main-color); padding: 5px 15px; border-radius: 20px; margin-top: 30px; color: #fff; transition: all 0.5s; font-family: var(--main-font); font-size: 1.3rem;} 
.btn_more:hover {background: var(--sub-color);}


/* Icons */
.icon1 {background-image: url('../images/sub/icon1.png');}
.icon2 {background-image: url('../images/sub/icon2.png');}
.icon3 {background-image: url('../images/sub/icon3.png');}
.icon4 {background-image: url('../images/sub/icon4.png');}
.icon5 {background-image: url('../images/sub/icon5.png');}

@media (max-width: 768px) {
  .tour-suggestions {padding: 30px 0;}
  .tour-name {gap: 20px; padding: 0;}
  .tour-name .tours:hover {transform: scale(0.95);}
  .tour-name .tours .tours_list {width: 100%;}
.tour-name .tours .tour-details {width: 100%; padding: 20px;}
}

#footer {background: url(../images/common/footer_bg.png) no-repeat center center / cover;}




/* SUB 2 - EVENT */
.event {padding: 50px 0; text-align: center; }
.event .event_list {display: flex; flex-wrap: wrap; gap: 30px;}
.event .event_list > div {width: calc((100% - 60px) / 3);}
.event .event_list img {width: 100%;}
.event .event_list .event_item {border: 1px solid #ffe3f6; border-radius: 20px; overflow: hidden; margin-bottom: 30px;}
.event .event_list .event_item dl {padding: 30px; color: #999;}
.event .event_list .event_item dl dt {font-size: 2rem; font-weight: 700; color: #000; padding: 0 0 10px;}

@media (max-width: 1000px) {
  .event .event_list > div {width: calc((100% - 30px) / 2);}
}

@media (max-width: 576px) {
  .event {padding: 30px 0;}
  .event .event_list {gap: 20px;}
  .event .event_list .event_item {margin-bottom: 10px;}
  .event .event_list > div {width: 100%;}
  .event .event_list .event_item dl {padding: 15px;}
.event .event_list .event_item dl dt {font-size: 1.6rem; padding: 0 0 5px;}
}
